<!-- START THE FEATURETTES -->
{{#features}}
<hr class="featurette-divider">

<div class="featurette" id="{{id}}">
  <img class="featurette-image img-circle img-responsive {{img.class}}" src="{{img.src}}">
  <h2 class="featurette-heading">{{headline}} <span class="text-muted">{{caption}}</span></h2>
  <p class="lead">{{text}}</p>
</div>
{{/features}}
<!-- /END THE FEATURETTES -->
