<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Basic Company Template for Bootstrap 3</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'One Page Wonder' Template -->
    <link href="css/one-page-wonder.css" rel="stylesheet">
  </head>

  <body>

    {{> one-pager/navbar}}

    <div class="header-image">

      <div class="headline">
        <div class="container">
          <h1>One Page Wonder</h1>
          <h2>Will Knock Your Socks Off</h2>
        </div>
      </div>

    </div><!-- /header-image -->

    <div class="container features">

      {{> one-pager/features}}

      <hr>

      <!-- FOOTER -->
      <footer>
        <p>
          Copyright &copy; Company 2013 &middot; Facebook &middot; Twitter &middot; Google+
        </p>
      </footer>
      <!-- /END OF FOOTER -->

    </div><!-- /container -->

  <!-- javascript -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>

  </body>

</html>